


.header{
    background-color: #1E6E70;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}


.header .logo{
cursor: pointer;
margin-right: auto;
}



.header .logo img{
    height: 50px;
    width: auto;
    transition: all 0.3s;
  
}
.header .logo img:hover{
    transform: scale(1.2);
}

.header .navs-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
    color: white;
    font-size: 17px;
}

.header .nav-links li:hover{
    transform: scale(1.1);
    color: #2EAEB7;
    cursor: pointer;
}

.header .nav-links a{
    font-size: 700;
    color: white;
    
}

header .btn button{
    font-weight: 700;
    color: white;
    padding: 9px 25px;
    background: #0665BA;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

header .btn button:hover{
    background-color: #2EAEB7;
    color: black;
    transform: scale(1.2);
}

@media screen and (max-width: 800px)


/* nav */

{
    text-decoration: none;
}

.header .overlay{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #0665BA;
    overflow: hidden;
    transition: all 0.3s ease 0s;

}



.header .overlay .overlay-content{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.header .overlay a{
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
    font-weight: 700;
    color: white;
}

.header .overlay a:hover,
.header .overlay a:focus{
    color: #0665BA;
}


.header .overlay .close{
    padding-top: 20px;
    padding-right: 45px;
    font-size: 65px;
}

@media screen and (max-height:450px){
    .header .overlay a{
        font-size: 20px;
    }

   .header .overlay .close{
    font-size: 40px;
    padding-top: 15px;
    right: 35px;
   }
}
















/* seccion1 */
.texto1{
    font-size: 100px;
    
}

.menu{
    background-color: #1E6E70;
}


.bg-color-container{
    background-color: #2EAEB7;
}

.bt{
    margin-left: 180px;
    margin-bottom: 0px;
    
}
.bttt{
    transform: scale(1.3);
}

.img{
    margin-top: 100px;
    margin-right: 50px;
}

.mm{
    padding-left: 6rem;
}


.tt{
    font-size: 40px;
    padding-left: 6rem;
}

.juan{
    padding-bottom: 5rem;
}

.violeta{
    background-color: #0665BA;
}
/* 
seccion2 */

.ez{
    padding-top: 150px;
    padding-left: 40px;
}
.ez-1{
    font-size: 20px;
    padding-left: 40px;
}

.ez2{
    padding-top: 10px;
   
}
.ez-2{
    font-size: 20px;
    padding-top: 100px;
}


/* slider */

.uu{
    padding-left: 170px;
}
.container1{
    background-color: #1E6E70;
}

.bot{
    border-radius: 100px;
    padding-left: 41rem;
}

.btn1{
    padding-bottom: 30px;
}

/* seccion4 */

.s4{
    background-color: #0665BA;
}

.t11{
    padding-block-start: 100px;
}

.abs{
    
    padding-top: 120px;
    padding-right: 320px;
}
.abs2{
    font-size: 20px;
    padding-left: 60px;
    padding-bottom: 50px;
}

/* ft */
.ft{
    background-color: #1E6E70;
}